<!DOCTYPE html>
<html>
<head>
	<title>SingAloud</title>
</head>
<body>



<!-- <div class="container paragraph">
	<div class="row"> -->

	<%= image_tag ('backg.jpg'), size: "1322x665", :class => "imaging" %>
	
	<div class="container">
		<div class="row">
		 	<div class="pan">
		 		SingAloud
		 	</div>
		 		<div class="btn btn-default pand">
			 		<%= link_to "Songs", songs_path %>
				</div>
		 	</div>

	</div>
	
		</div>

		<!-- <footer class = "footer">
			<p>&copy; SingAloud 2014</p>
		</footer> -->
	</div>
</body>
</html>

