
<!-- <div class="container paragraph">
	<div class="row"> -->



	
	<div class="container">
		<div class="row">
		 	<div class="pan">
		 		SingAloud
		 	</div>
		 		<div class="btn btn-default pand">
			 		<%= link_to "Enter", home_path %>
				</div>
		 	</div>

	</div>
	
		</div>

		<!-- <footer class = "footer">
			<p>&copy; SingAloud 2014</p>
		</footer> -->
	</div>


