<!-- <div class="row main-content">

<div class="col-md-2 sidebar">
	<ul class="nav sidenav">
		<li>First </li>
		<li>Second</li>
		<li>Third</li>

	</ul>
</div> -->
<!-- 
<div class="col-md-10 song-content"> -->
<!-- <div class="new"> -->
<h1> New Song</h1>

	<%= render 'form' %>
	<%= link_to 'Back', songs_path %>
<!-- </div> -->
<!-- </div> -->
